.null {
        background-color: #978b8b;
    }
    .WD {
        background-color: #e617c3;
    }
    .DS {
        background-color: #f50909;
    }
    .OS {
        background-color: #3eec3e;
    }
    .GE {
        background-color: #ecec2e;
    }
    .LB {
        background-color: #f0a2a2;
    }
    .AEC {
        background-color: #2995ee;
    }
    .SEC {
        background-color: #3f9153;
    }
    .VAC {
        background-color: #f0a2a2;
    }
